<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>belajar-swift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22151BF32CAB9D2C00A6AFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22151C032CAB9D2E00A6AFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22151C0D2CAB9D2E00A6AFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
